In [1]:
import pandas as pd

In [2]:
# URL for the processed Cleveland dataset
DATA_URL = (
    "https://archive.ics.uci.edu/ml/machine-learning-databases/"
    "heart-disease/processed.cleveland.data"
)

In [3]:
# col names as per the UCL documentation
col_names = [
    "age", "sex", "cp", "trestbps", "chol", "fbs", "restecg",
    "thalach", "exang", "oldpeak", "slope", "ca", "thal", "target"
]

# load data into DataFrame
df = pd.read_csv(DATA_URL, names=col_names, na_values='?')

In [4]:
print(df.shape)
df.head

(303, 14)

<bound method NDFrame.head of       age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0    63.0  1.0  1.0     145.0  233.0  1.0      2.0    150.0    0.0      2.3
1    67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
2    67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
3    37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
4    41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
..    ...  ...  ...       ...    ...  ...      ...      ...    ...      ...
298  45.0  1.0  1.0     110.0  264.0  0.0      0.0    132.0    0.0      1.2
299  68.0  1.0  4.0     144.0  193.0  1.0      0.0    141.0    0.0      3.4
300  57.0  1.0  4.0     130.0  131.0  0.0      0.0    115.0    1.0      1.2
301  57.0  0.0  2.0     130.0  236.0  0.0      2.0    174.0    0.0      0.0
302  38.0  1.0  3.0     138.0  175.0  0.0      0.0    173.0    0.0      0.0

     slope   ca  thal  target
0      3.0  0.0   6.0       0
1      2.0  3.0   3.0       2
2      2.0  2.0   7.0       1
3      3.0  0.0   3.0       0
4      1.0  0.0   3.0       0
..     ...  ...   ...     ...
298    2.0  0.0   7.0       1
299    2.0  2.0   7.0       2
300    2.0  1.0   7.0       3
301    2.0  1.0   3.0       1
302    1.0  NaN   3.0       0

[303 rows x 14 columns]>

In [8]:
df.to_csv('../data/heart.csv', index = False)
print('Saved data to data/heart.csv')

Saved data to data/heart.csv